*.*
*
!*/
!*/**
!Makefile
!*.mk
!*.scala
!*.[cSh]
!*.v
!*.cpp
!*.cc
!.gitignore
!.scalafmt.conf
!README.md
build/

# mill
!*.mill
!.mill-version
out/
.bsp/
.bloop/
.metals/
.idea/
.idea_modules/
.vscode/
test_run_dir/
